.posts {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   gap: 33px;
}

@media only screen and (max-width: 1190px) {
   .posts {
      grid-template-columns: 1fr 1fr;
   }
}

@media only screen and (max-width: 894px) {
   .posts {
      grid-template-columns: repeat(auto-fit, minmax(241px, 1fr));
   }
}
